<!DOCTYPE html>
<html lang="en">
    {% load static %} 
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>PayScan</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/payscanlogo.jpg' %}" rel="icon">
    <link href="{% static 'img/payscanlogo.jpg' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
  
        
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'css/aos.css' %}" rel="stylesheet">
        <link href="{% static 'css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/swiper-bundle.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/cheatsheet.css' %}" rel="stylesheet">

    
        <!-- Template Main CSS File -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Impact - v1.2.0
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    {% include "payscan/includes/header.html" %}


    <style>
        .btn-outline-primary {
        --bs-btn-color: #4d1616;
        --bs-btn-border-color: #e9d8d8;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #4d1616;
        --bs-btn-hover-border-color: #e9d8d8;
        --bs-btn-focus-shadow-rgb: 13,110,253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #e9d8d8;
        --bs-btn-active-border-color: #4d1616;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: grey;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #0d6efd;
        --bs-gradient: none;
    }
    </style>
    

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">
      
    <center><div class="section-header"><h4 class="btn  px-3" style="background:rgb(233,216,216); color:#4d1616; margin-top:10%;">
     {{ user.first_name  }}   {{user.last_name}}<br>
             BALANCE:<strong>SZL {{ user.payscanuser.balance }}</strong> <br>
    
    </h4></div>
    </center>
    </section>
    <!-- End Hero Section -->

    <main id="main">

        <section id="">
            <div class="section-header">
                    <h2>History</h2>
                
            </div>
            
                <table class="table  table-borderless">
                  <thead style="
                  font-size: smaller;
              ">
                        <tr >
                            <th scope="col">Trans ID</th>
                            <th scope="col">Receipent ID</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Type</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody style="background:#4d1616; background:#4d1616; font-size: xx-small; font-weight: bold;">

                        {% for transactions in transactions %}
                        <tr class="" style=" background-color: #e9d8d8 ;">
        
            <td>
                {{transactions.id}}
            </td>
            
            <td>
                {{ transactions.payee.name }} ( {{ transactions.payee.id }} )
            </td>
            <td>
               SZL {{transactions.amount}}
           
            </td>
            <td>
                {{transactions.transaction_type}}
            </td>
            <td>
                {{transactions.timestamp}}
            </td>
            
        {% empty %}
            <li>No transactions found.</li>
       
                        </tr>
                        {% endfor %}
              
                    </tbody>
                </table>
            </div>
        
        </section>


    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer " class="footer ">

        <div class="container ">
            <div class="row gy-4 ">
                <div class=" footer-info ">
                    <a href="index.html " class="logo d-flex align-items-center ">
                        <span>PayScan</span>
                    </a>
                    <div class="social-links d-flex mt-4 ">
        
                        <a hidden href="# " class="twitter "><i class="bi bi-twitter "></i></a>
                        <a href="https://facebook.com/profile.php?id=100090427822694 " class="facebook "><i class="bi bi-facebook "></i></a>
                        <a hidden href="# " class="instagram "><i class="bi bi-instagram "></i></a>
                        <a href="https://api.whatsapp.com/send/?phone=26879130668&text=greetings+i+would+like+to...&type=phone number&app absent=0" class="whatsapp "><i class="bi bi-whatsapp "></i></i></a>
        
                    </div>
                </div>
        
                <div hidden class=" footer-links ">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="# ">Home</a></li>
                        <li><a href="# ">About us</a></li>
                        <li><a href="# ">Services</a></li>
                        <li><a href="# ">Terms of service</a></li>
                        <li><a href="# ">Privacy policy</a></li>
                    </ul>
                </div>
        
               
        
                <div class=" footer-contact text-center text-md-start ">
                    <h4>Contact Us</h4>
                    <p>
        
        
                        <strong>Phone:</strong> +26878130668<br>
                        <strong>Email:</strong> payscan.elite@gmail.com<br>
                    </p>
        
                </div>
        
            </div>
        </div>
        
        <div class="container mt-4 ">
            <div class="copyright ">
                Copyright &copy; 2023 <strong><span>PayScan</span></strong>. All Rights Reserved
            </div>
            <div class="credits " hidden>
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
                Designed by <a href="https://bootstrapmade.com/ ">BootstrapMade</a>
            </div>
        </div>
        
        </footer>
        
    <!-- End Footer -->

    <a href="# " class="scroll-top d-flex align-items-center justify-content-center "><i class="bi bi-arrow-up-short "></i></a>

    <div id="preloader "></div>

    <!-- Vendor JS Files -->

    <script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'js/aos.js' %} "></script>
    <script src="{% static 'js/glightbox.min.js' %} "></script>
    <script src="{% static 'js/purecounter_vanilla.js' %} "></script>
    <script src="{% static 'js/swiper-bundle.min.js' %} "></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %} "></script>
    <script src="{% static 'js/cheatsheet.js' %} "></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %} "></script>

</body>

</html>
   